<h2> <%= @oil_type.name %> </h2>

<div class="chips">
  <div class="row">
  <% @chips.each do |chip| %>
  <div class="col m3">
    <div class="card">
      <div class="card-image">
        <img src="images/sample-1.jpg">
      </div>
      <div class="card-content">
        <h5><%= chip.name %></h5>
          <p><%= chip.description %></p>
          <p>$<%= chip.price %></p>
        </div>
    </div>
  </div>
  <% end %>
</div>
</div>

<a class="waves-effect waves-light btn"
  <%= link_to "Return to oil types", oil_types_path %>
</a>
