<b><center><%= link_to chip.name, admin_chip_path(chip.slug) %></center></b>
<p><center><%= number_to_currency chip.price %></center></p>
<p><center><%= chip.description_type(source) %></center></p>
<% if chip.status == "retired" %>
 <center><p class="btn disabled"> Item is Retired </p></center>
<% end %>
<p><center><%= link_to "Edit", edit_admin_chip_path(chip.id), class: "btn" %>
<%= link_to "Delete", admin_chip_path(chip.id), method: :delete, class: "btn" %></center></p>
