<nav class="black">
  <div class="nav-wrapper">
    <!-- <ul id="dropdown1" class="dropdown-content">
      <%#= render oils %>
    </ul> -->
    <li class="brand-logo"><a href="/"><img class="logo-image" src="http://i.imgur.com/tB4xEbZ.png"></a> </li>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down" style = "padding-right: 10px">
      <li> <%= link_to "Our Story", about_path %> </li>
      <li> <%= link_to "Shop Our Chips", chips_path %> </li>
      <li> <%= link_to "Shop by Oil", oils_path%> </li>
      <% if current_user %>
        <li><%= link_to "View Past Orders", orders_path %></li>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Create Account", new_user_path %></li>
      <% end %>
      <li><%= link_to "Cart (#{@cart.cart_size})", cart_chips_path %> </li>
      <li><i class="material-icons">shopping_cart</i></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li> <%= link_to "Our Story", about_path %> </li>
      <li> <%= link_to "Shop Our Chips", chips_path %> </li>
      <li> <%= link_to "Shop by Oil", oils_path%> </li>
      <% if current_user %>
        <li><%= link_to "View Past Orders", orders_path %></li>
        <li><%= link_to "Logout", logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Create Account", new_user_path %></li>
      <% end %>
      <li><%= link_to "Cart (#{@cart.cart_size})", cart_chips_path %> </li>
    </ul>
  </div>
</nav>
<% if current_admin? %>
  <nav class="#eceff1 blue-grey lighten-5">
    <li class="brand-logo black-text" style="stationary-text">Administrator</li>
    <ul class="right hide-on-med-and-down">
      <li><%=link_to "Dashboard", admin_dashboard_index_path, class: "black-text" %></li>
      <li><%=link_to "All Chips", admin_chips_path, class: "black-text" %></li>
    </ul>
  </nav>
<% end %>
