<div class="chips"><br>
  <% @chips.each do |chip, quantity| %>
  <div class="row">
    <div class="col m3">
      <div class="card">
        <div class="card-image">
          <img src="<%= chip.image_file_name %>" >
        </div>
      </div>
    </div>
    <div class = "col m9" id="<%= chip.slug %>">
      <h5><%= chip.name %></h5>
      <span class="quantity">(<%= quantity %>)</span><%= button_to "+", cart_chip_path(chip.id, edit_action: "add"), method: :patch %>
      <%= button_to "-", cart_chip_path(chip.id, edit_action: "subtract"), method: :patch %><br>
      <span class="price">Price: $<%= chip.price %> x <%= quantity %> = <%= @chips_total[chip.id] %></span> <br>
      <%= chip.description %><br>
      <%= link_to "Remove", cart_chip_path(chip.id), method: :delete %>
    </div>
  </div>
  <% end %>
</div>

<span class="cart_total">Total: $<%= @cart_total %></span>
<%= link_to "Keep Shopping", chips_path %>
