<div class="chips"><br>
  <ul class="collection">
    <% @chips.each do |chip, quantity| %>
    <li class="collection-item">
      <div class="row">
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <%= image_tag chip.image.url, id: "chip-picture" %>
            </div>
          </div>
        </div>
        <div class = "col m9" id="<%= chip.slug %>">
          <h5><%= chip.name %></h5>
          <%= chip.description %><br><br>
          <div class="row">
            <div class="col s1" style="margin-top: 9px">
              <%= button_to "+", cart_chip_path(chip.id, edit_action: "add"), method: :patch, class: "btn-floating"%>
            </div>
            <div class="col s1">
              <h5 class="quantity">(<%= chip.quantity %>)</h5>
            </div>
            <div class="col s1" style="margin-top: 9px">
              <%= button_to "-", cart_chip_path(chip.id, edit_action: "subtract"), method: :patch, class: "btn-floating" %><br>
            </div>
          </div>
          <h6 class="price">Price: <%= number_to_currency chip.price %> x <%= chip.quantity %> = <%= number_to_currency chip.subtotal %></h6> <br>
          <%= link_to "Remove", cart_chip_path(chip.id), method: :delete, class: "btn" %>
        </div>
    </li>
    <% end %>
  </div>
  </ul>
</div><br>

<h4 class="cart_total">Total: <%= number_to_currency @cart.total %></h4>
<div>
      <% if current_user %>
        <%= button_to "Place Order", new_order_path, class: "btn", method: :get %>
      <% else %>
      <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Place Order</a>
        <div id="modal1" class="modal">
          <div class="modal-content">
            <p>Please login before placing order.</p>
            <div><%= form_for :session, url: login_path do |f| %>
              <%= f.label :username %>
              <%= f.text_field :username%>
              <%= f.label :password %>
              <%= f.password_field :password %>
              <%= f.submit "Login" %>
            <% end %></div>
            <p> Don't have an account? <%= link_to "Create one here.", new_user_path %> </p>
          </div>
        </div>
      <% end %><br>
<%= link_to "Keep Shopping", chips_path, class: "btn" %>
</div>
