<h4>Your Cart</h4>
<div>
  <div class="chips"><br>
  <ul class="collection">
    <% @chips.each do |chip, quantity| %>
    <li class="collection-item">
      <div class="row">
        <div class="col m3">
          <div class="card">
            <div class="card-image">
              <%= image_tag chip.image.url, id: "chip-picture" %>
            </div>
          </div>
        </div>
        <div class = "col m9" id="<%= chip.slug %>">
          <h5><%= chip.name %></h5>
          <%= chip.description %><br><br>
          <table>
            <thead>
              <tr>
                  <th data-field="id">Price</th>
                  <th data-field="name">Qty</th>
                  <th data-field="price">Subtotal</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="price"><%= number_to_currency chip.price %></td>
                <td class="quantity"><i class="material-icons">
                <%= button_to "remove", cart_chip_path(chip.id, edit_action: "subtract"), method: :patch, class: "btn-floating" %>
                </i><%= chip.quantity %>
              <i class="material-icons">
              <%= button_to "add", cart_chip_path(chip.id, edit_action: "add"), method: :patch, class: "btn-floating"%>
              </i></td>
                <td class="subtotal"><%= number_to_currency chip.subtotal %></td>
                <td class="remove_item_btn"><%= link_to "Remove", cart_chip_path(chip.id), method: :delete, class: "btn" %></td>
              </tr>
            </tbody>
          </table>
        </div>
    </li>
    <% end %>
  </ul>
</div><br>

<div class="row">
  <div class="col m7 offset-m3">
    <table id="checkout">
      <thead>
        <tr class="checkout_header">
            <th>Total:</th>
            <th class="cart_total"><%= number_to_currency @cart.total %></th>
            <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td></td>
          <td><%= link_to "Keep Shopping", chips_path, class: "btn" %></td>
          <td><% if current_user %>
            <%= button_to "Place Order", new_order_path, class: "btn", method: :get %>
          <% else %>
            <a class="modal-trigger waves-effect waves-light btn" href="#modal1">Place Order</a>
              <div id="modal1" class="modal">
                <div class="modal-content">
                  <p>Please login before placing order.</p>
                  <div><%= form_for :session, url: login_path do |f| %>
                    <%= f.label :username %>
                    <%= f.text_field :username%>
                    <%= f.label :password %>
                    <%= f.password_field :password %>
                    <%= f.submit "Login" %>
                  <% end %></div>
                  <p> Don't have an account? <%= link_to "Create one here.", new_user_path %> </p>
                </div>
              </div>
          <% end %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <div>
      <% if current_user %>
        <%= button_to "Place Order", new_order_path, class: "btn", method: :get %>
      <% else %>
        <%= button_to "Place Order", login_path, method: :get, class: "btn" %>
        <% flash[:error] = "Please login before placing order." %>
      <% end %><br>
<%= link_to "Keep Shopping", chips_path, class: "btn" %>
</div> -->
