<% @chips.each do |chip, quantity| %>
  <div class="chips">
    <p id="chip.slug"><%= chip.name %> (<%= quantity %>)</p>
    Price: $<%= chip.price %> <br>
    <%= chip.description %><br>
  </div>
<% end %>
Total: $<%= @total %>
