<!DOCTYPE html>
<html>
<head>
  <title>SlotaShop</title>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: '/shared/nav' %>


<div class="container">
    <% flash.each do |type, msg| %>
    <div class="card">
      <p>
        <center style='color:green'><%= content_tag :div, msg.html_safe %></center>
      </p>
    </div>

    <% end %>
</div>

  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
