<!DOCTYPE html>
<html>
<head>
  <title>SlotaShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: '/shared/nav' %>


<div class="container">
  <div class="card">
    <% flash.each do |type, msg| %>
      <p>
        <center style='color:green'><%= content_tag :div, msg.html_safe %></center>
      </p>
    <% end %>
  </div>
</div>

  <div class="container">
    <%= yield %>
  </div>

  <!-- <footer class="page-footer teal lighten-2">
    <ul class="right hide-on-med-and-down">
      <li>Contact Us</li>
    </ul>
  </footer> -->
</body>
</html>
