<!DOCTYPE html>
<html>
<head>
  <title>SlotaShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: '/shared/nav' %>
  <% if current_user.admin? %>
    <%= render partial: '/shared/admin_nav' %>
  <% end %>

<div class="container">
  <% flash.each do |type, msg| %>
    <p style='color: green'>
      <%= content_tag :div, msg.html_safe %>
    </p>
  <% end %>
</div>

  <div class="container">
    <%= yield %>
  </div>

  <!-- <footer class="page-footer teal lighten-2">
    <ul class="right hide-on-med-and-down">
      <li>Contact Us</li>
    </ul>
  </footer> -->
</body>
</html>
