<!DOCTYPE html>
<html>
<head>
  <title>SlotaShop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    View Cart (0)
  </nav>
<% flash.each do |type, msg| %>
<p>
  <%= content_tag :div, msg %>
</p>
<% end %>


<%= yield %>

</body>
</html>
